

<div class="row">
  <div class="col-md-8"> 
    <h1><%= @portfolio.name %></h1>
     <% if policy(@portfolio).edit? %>
    <h3><%= link_to @portfolio.name, @portfolio.name, :target => "_blank" %></h3>
     <% end %>
  <div>
  <div class='row'>
    <div class='col-md-8'>
      <table class="table table-striped">
        <tbody>
          <thead>
            <td class="text-uppercase">Stock Name</td>
            <td class="text-uppercase">Stock Count</td>
          </thead>
          <% @stocks.inspect =%>
          <% @stocks.each do |stock_quote, stocks| %>
            <tr>
            <td><%= stock_quote %></td>
            <td><%= stocks.count %></td>
          </tr>
          <% end %>
         
        </tbody>
      </table>
       <%= pie_chart @portfolio.stocks.group(:stock_symbol).count %>
      <%= line_chart @portfolio.stocks.group(:created_at).count %>
    </div>
    <div class='col-md-4'>
      <%= form_for(@stock) do |f| %>
        <% if @stock.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

            <ul>
            <% @stock.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :stock_symbol %><br>
          <%= f.text_field :stock_symbol %>
        </div>
        
          <%= f.hidden_field(:portfolio_id) %>
   
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>


    </div>
    <div class='row'>
      <div class='col-md-8'>
        <div class="bloc_buttons">
          <%= link_to " Edit", edit_portfolio_path(@portfolio), class: 'btn btn-success glyphicon glyphicon-edit' %>
          <%= link_to " Delete", portfolio_path, method: :delete, data: { confirm: 'Are you sure you want to delete this portfolio?'}, id: 'delete-site', class: 'btn btn-danger glyphicon glyphicon-remove' %>
        </div>
          <%= link_to "Back to Portfolio List", portfolios_path , class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>



